
@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    font-family: 'Rubik Bold';
    src: url('fonts/Rubik-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight:bold;
  }

@font-face {
    font-family: 'BerkshireSwash';
    src: url('fonts/BerkshireSwash-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }

  .text-font {
    font-family: 'BerkshireSwash' !important;
    font-size: 2rem;
  }

  .text-rubik-regular {
    font-family: 'Rubik' !important;
  }
  .text-rubik-bold {
    font-family: 'Rubik Bold' !important;
  }

/* General */
body {
  font-family: 'Rubik';
  color: #333333;
}

/*-+-+-+-+-+-+-+-+ INICIO +-+-+-+-+-+-+-+-*/
@media  (max-width: 500px) {
  .bg-img-presentacion {
    background-position: top right !important;
    width: 100%;
  }
}
/* .bg-img {
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
} */
.bg-color {
  background: -prefix-linear-gradient(105.88deg, #F4ADFF 0%, #B6DED2 52.08%, #FEC26B 100%);
  background: linear-gradient(105.88deg, #F4ADFF 0%, #B6DED2 52.08%, #FEC26B 100%);

}
.bg-img {
  width: 30vw;
}
.subtitle {
  font-size: 1.5rem;
}
/*Texto giro*/
.text-rotate {
  margin-top: 15rem;
  -webkit-transform: rotate(-90deg); 
-moz-transform: rotate(-90deg); 
font-size: 4rem;   
}

/* CITA */
blockquote {
  color: #434343;
  font-family: 'BerkshireSwash', Tahoma, sans-serif;
  font-size: 2.2rem;
  width: 80%;
  margin: 2rem auto;
}
blockquote h1 {
  font-size: 4rem;
}
blockquote p {
  /*font-style: italic;*/
  margin-bottom: 0;
}

blockquote p::before,
blockquote p::after {
  content: "''";
  font-family: 'BerkshireSwash', Tahoma, sans-serif;
  font-size: 7rem;
  margin: -2rem 0 0 -4rem;
  position: absolute;
  opacity: 0.5;
}

blockquote p::after {
  content: "''";
  margin: -1rem -4rem 0 0;
}

blockquote cite {
  font-size: 1.3rem;
}

/*-+-+-+-+-+-+-+ Proyectos +-+-+-+-+-+-+-*/
 /* CARD */
 .border-top-info {
  border-top: 1rem solid #0dcaf0;
 }
 .shadow-light {
  box-shadow: 1.08em 1.08em 0.05em #333333;  
 }
 